/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
    line-height:1.7;
}

/* NAVBAR */

header{
    background:#111827;
    position:sticky;
    top:0;
}

.navbar{
    max-width:1100px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.logo span{
    color:#7c3aed;
}

.navbar ul{
    display:flex;
    list-style:none;
}

.navbar li{
    margin-left:20px;
}

.navbar a{
    color:white;
    text-decoration:none;
}

.navbar a:hover{
    color:#7c3aed;
}

.hire-btn{
    background:#7c3aed;
    color:white;
    padding:10px 20px;
    border-radius:6px;
}

/* HERO */

.hero{
    text-align:center;
    padding:80px 20px;
}

.image-circle img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #7c3aed;
    margin-bottom:25px;
}

.hero h1{
    font-size:48px;
}

.hero h1 span{
    color:#7c3aed;
}

.hero h2{
    margin:15px 0;
    font-weight:400;
}

.hero p{
    max-width:700px;
    margin:20px auto;
    color:#cbd5e1;
}

.primary-btn,
.secondary-btn{
    display:inline-block;
    margin:10px;
    padding:12px 25px;
    text-decoration:none;
    border-radius:6px;
}

.primary-btn{
    background:#7c3aed;
    color:white;
}

.secondary-btn{
    border:2px solid #7c3aed;
    color:white;
}

/* SECTIONS */

section{
    max-width:1100px;
    margin:80px auto;
    padding:20px;
}

.section-title{
    text-align:center;
    margin-bottom:40px;
}

.section-title h5{
    color:#7c3aed;
}

.section-title h2{
    font-size:36px;
}

/* GRID */

.services-grid,
.projects-grid,
.testimonial-grid,
.about-right{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

/* CARD */

.service-card,
.project-card,
.testimonial-card,
.stat-card{
    background:#1e293b;
    padding:25px;
    border-radius:10px;
}

.service-card h3,
.project-card h3{
    margin:15px 0;
}

.project-card img{
    width:100%;
    border-radius:8px;
}

/* SKILLS */

.skill{
    margin-bottom:20px;
}

.progress{
    height:10px;
    background:#334155;
    border-radius:20px;
}

.progress div{
    height:100%;
    background:#7c3aed;
    border-radius:20px;
}

/* CONTACT */

.contact-buttons{
    text-align:center;
}

/* FOOTER */

footer{
    text-align:center;
    padding:30px;
    background:#111827;
    margin-top:80px;
}

/* MOBILE */

@media(max-width:768px){

.navbar{
    flex-direction:column;
}

.navbar ul{
    flex-wrap:wrap;
    justify-content:center;
    margin-top:15px;
}

.hero h1{
    font-size:36px;
}

.section-title h2{
    font-size:28px;
}

}
